# Trip History data cleaning process per year

**Load dependencies and data set**

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
df_list = list(range(8))

for x in range(8) :
    df_list[x] = \
    pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/201'+str(x)+'/Nice_Ride_trip_history_201'+str(x)+'_season.csv').dropna()
# Warning can be ingnored, specifies that there are mixed data types and can't coerce specific type
# File names were changed to match each other

/home/grimoire/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/grimoire/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,1,2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Verify the data loaded in

In [3]:
for x in range(8) :
    print('201'+str(x))
    print(df_list[x].info())

2010
<class 'pandas.core.frame.DataFrame'>
Int64Index: 101426 entries, 0 to 101850
Data columns (total 8 columns):
Start date             101426 non-null object
Start station          101426 non-null object
Start terminal         101426 non-null int64
End date               101426 non-null object
End station            101426 non-null object
End terminal           101426 non-null float64
Total duration (ms)    101426 non-null float64
Account type           101426 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 7.0+ MB
None
2011
<class 'pandas.core.frame.DataFrame'>
Int64Index: 217896 entries, 0 to 219794
Data columns (total 8 columns):
Start date             217896 non-null object
Start station          217896 non-null object
Start terminal         217896 non-null int64
End date               217896 non-null object
End station            217896 non-null object
End terminal           217896 non-null float64
Total duration (ms)    217896 non-null float64
Account type           217896 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 15.0+ MB
None
2012
<class 'pandas.core.frame.DataFrame'>
Int64Index: 274580 entries, 0 to 275749
Data columns (total 8 columns):
Start date             274580 non-null object
Start station          274580 non-null object
Start terminal         274580 non-null int64
End date               274580 non-null object
End station            274580 non-null object
End terminal           274580 non-null float64
Total duration (ms)    274580 non-null float64
Account type           274580 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 18.9+ MB
None
2013
<class 'pandas.core.frame.DataFrame'>
Int64Index: 308777 entries, 0 to 310652
Data columns (total 8 columns):
Start date             308777 non-null object
Start station          308777 non-null object
Start terminal         308777 non-null int64
End date               308777 non-null object
End station            308777 non-null object
End terminal           308777 non-null float64
Total duration (ms)    308777 non-null float64
Account type           308777 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 21.2+ MB
None
2014
<class 'pandas.core.frame.DataFrame'>
Int64Index: 415351 entries, 0 to 417173
Data columns (total 8 columns):
Start date             415351 non-null object
Start station          415351 non-null object
Start terminal         415351 non-null object
End date               415351 non-null object
End station            415351 non-null object
End terminal           415351 non-null object
Total duration (ms)    415351 non-null float64
Account type           415351 non-null object
dtypes: float64(1), object(7)
memory usage: 28.5+ MB
None
2015
<class 'pandas.core.frame.DataFrame'>
Int64Index: 483229 entries, 0 to 483228
Data columns (total 8 columns):
Start date                  483229 non-null object
Start station               483229 non-null object
Start station number        483229 non-null object
End date                    483229 non-null object
End station                 483229 non-null object
End station number          483229 non-null object
Total duration (Seconds)    483229 non-null int64
Account type                483229 non-null object
dtypes: int64(1), object(7)
memory usage: 33.2+ MB
None
2016
<class 'pandas.core.frame.DataFrame'>
Int64Index: 432274 entries, 0 to 432282
Data columns (total 8 columns):
Start date                  432274 non-null object
Start station               432274 non-null object
Start station number        432274 non-null object
End date                    432274 non-null object
End station                 432274 non-null object
End station number          432274 non-null object
Total duration (seconds)    432274 non-null int64
Account type                432274 non-null object
dtypes: int64(1), object(7)
memory usage: 29.7+ MB
None
2017
<class 'pandas.core.frame.DataFrame'>
Int64Index: 460718 entries, 0 to 460717
Data columns (total 8 columns):
Start date                  460718 non-null object
Start station               460718 non-null object
Start station number        460718 non-null object
End date                    460718 non-null object
End station                 460718 non-null object
End station number          460718 non-null object
Account type                460718 non-null object
Total duration (Seconds)    460718 non-null int64
dtypes: int64(1), object(7)
memory usage: 31.6+ MB
None

**Duration columns vary by year for milleseconds and seconds**
 * This needs to be addressed for the 2010-2015 year

In [4]:
for x in range(5) : # 0:2010, 1:2011, 2:2012, 3:2013, 4:2014
    df_list[x]['Total duration (ms)'] = round(df_list[x]['Total duration (ms)'] * .001).astype(int)

** Renaming terminal columns for legibility**

The following naming convention will be used for all ride history data
 * Start_date
 * Start_station
 * Start_terminal
 * End_date
 * End_station
 * End_terminal
 * Duration
 * Account

In [5]:
for x in range(8):
    print(df_list[x].columns)
# Notice how 2010-2015 have their duration configured to be in milliseconds, not seconds

Index(['Start date', 'Start station', 'Start terminal', 'End date',
       'End station', 'End terminal', 'Total duration (ms)', 'Account type'],
      dtype='object')
Index(['Start date', 'Start station', 'Start terminal', 'End date',
       'End station', 'End terminal', 'Total duration (ms)', 'Account type'],
      dtype='object')
Index(['Start date', 'Start station', 'Start terminal', 'End date',
       'End station', 'End terminal', 'Total duration (ms)', 'Account type'],
      dtype='object')
Index(['Start date', 'Start station', 'Start terminal', 'End date',
       'End station', 'End terminal', 'Total duration (ms)', 'Account type'],
      dtype='object')
Index(['Start date', 'Start station', 'Start terminal', 'End date',
       'End station', 'End terminal', 'Total duration (ms)', 'Account type'],
      dtype='object')
Index(['Start date', 'Start station', 'Start station number', 'End date',
       'End station', 'End station number', 'Total duration (Seconds)',
       'Account type'],
      dtype='object')
Index(['Start date', 'Start station', 'Start station number', 'End date',
       'End station', 'End station number', 'Total duration (seconds)',
       'Account type'],
      dtype='object')
Index(['Start date', 'Start station', 'Start station number', 'End date',
       'End station', 'End station number', 'Account type',
       'Total duration (Seconds)'],
      dtype='object')

In [6]:
# .rename doesn't mutate original Dataframe unless it's assigned
for x in range(8) :
    df_list[x] = df_list[x].rename(index=str, columns={\
                                           'Start date' : 'Start_date',
                                           'Start station' : 'Start_name',
                                           'Start station number' : 'Start_id',
                                           'Start terminal' : 'Start_id',
                                           'End date' : 'End_date',
                                           'End station' : 'End_name',
                                           'End station number' : 'End_id',
                                           'End terminal': 'End_id',
                                           'Total duration (ms)' : 'duration',
                                           'Total duration (Seconds)' : 'duration',
                                           'Total duration (seconds)' : 'duration',
                                           'Account type': 'account'})

In [7]:
for x in range(8):
    print(df_list[x].columns)
# 2017 columns will require a reordering to match the rest

Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')
Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')
Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')
Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')
Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')
Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')
Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')
Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'account', 'duration'],
      dtype='object')

## Addressing data type issues in data
Our data should look as follows
 * Start_data : datetime object
 * Start_name : object
 * Start_id : int
 * End_date : datetime object
 * End_name : object
 * End_id : int
 * duration : int
 * account : object

In [8]:
# Changing dates into datetimes
for x in range(8):
    df_list[x]['Start_date'] = df_list[x]['Start_date'].apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y %H:%M'))
    df_list[x]['End_date'] = df_list[x]['End_date'].apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y %H:%M'))
    
# Time intensive, consider changing to work with values/numpy instead

Value checking Start_id prior to coercing data types to int. Since the data was loaded in as an object there is most likely some value(s) that are preventing the data from being loaded as float or int. We can see this happens in 2014, 2015, 2016, 2017. This step will need to be repeated for End_id

In [9]:
for x in range(8) :
    print('201'+str(x))
    print(df_list[x]['Start_id'].unique())

2010
[30000 30039 30004 30040 30014 30031 30001 30044 30022 30064 30053 30052
 30050 30009 30032 30027 30051 30007 30023 30024 30037 30036 30048 30038
 30058 30063 30033 30045 30041 30059 30005 30010 30029 30042 30043 30035
 30017 30013 30055 30026 30018 30057 30008 30054 30062 30012 30060 30049
 30011 30034 30003 30002 30019 30030 30056 30047 30061 30016 30021 30015
 30028 30046 30025 30006 30020]
2011
[30008 30016 30006 30051 30055 30001 30048 30050 30009 30000 30052 30044
 30017 30028 30013 30043 30021 30061 30039 30042 30022 30004 30047 30025
 30060 30053 30056 30011 30012 30049 30020 30064 30015 30046 30038 30040
 30018 30005 30030 30063 30035 30031 30010 30007 30062 30027 30033 30024
 30041 30045 30032 30014 30002 30054 30003 30023 30019 30059 30070 30071
 30065 30029 30036 30067 30068 30066 30034 30037 30026 30057 30058 30069
 30072 30080 30081 30073 30075 30074 30076 30077 30079 30088 30083 30082
 30086 30078 30087 30091 30090 30095 30094 30096 30098 30097 30092 30085
 30093 30089 30099 30084 30102 30103 30105 30101 30109 30108 30110 30107
 30104 30100 30112 30106 30114 30111 30113 30115]
2012
[30008 30023 30054 30103 30019 30080 30037 30045 30038 30036 30009 30025
 30027 30013 30024 30091 30029 30018 30094 30088 30090 30089 30011 30106
 30026 30006 30110 30015 30052 30044 30043 30057 30064 30074 30061 30021
 30004 30005 30048 30028 30060 30007 30016 30014 30109 30056 30092 30050
 30020 30081 30097 30030 30039 30049 30076 30113 30042 30047 30001 30114
 30065 30086 30051 30040 30107 30100 30034 30046 30000 30098 30022 30073
 30010 30078 30087 30063 30067 30099 30072 30083 30066 30058 30033 30032
 30017 30055 30095 30112 30111 30062 30012 30053 30035 30096 30108 30077
 30075 30084 30079 30002 30085 30041 30105 30104 30003 30093 30115 30031
 30071 30068 30102 30059 30069 30070 30101 30133 30141 30124 30116 30119
 30117 30128 30125 30131 30136 30134 30126 30129 30137 30138 30140 30139
 30132 30120 30118 30121 30130 30135 30122 30127 30123 30144 30142 30145
 30143]
2013
[30008 30023 30042 30054 30143 30030 30091 30047 30098 30050 30088 30000
 30009 30029 30013 30056 30028 30057 30074 30006 30020 30010 30044 30021
 30027 30041 30046 30051 30083 30094 30025 30104 30097 30052 30093 30122
 30001 30090 30061 30124 30039 30132 30004 30019 30040 30058 30016 30079
 30005 30138 30049 30015 30048 30045 30017 30060 30081 30089 30075 30024
 30063 30002 30092 30026 30037 30018 30087 30119 30022 30110 30031 30102
 30012 30055 30034 30065 30035 30108 30038 30142 30043 30053 30080 30086
 30007 30099 30113 30033 30109 30096 30076 30064 30078 30100 30120 30137
 30117 30103 30112 30116 30032 30128 30118 30125 30121 30141 30011 30127
 30003 30066 30059 30084 30134 30144 30131 30036 30111 30145 30095 30107
 30106 30136 30140 30085 30135 30070 30069 30072 30067 30101 30014 30071
 30115 30105 30062 30129 30126 30114 30077 30130 30068 30133 30139 30123
 30073 30160 30147 30158 30167 30149 30153 30150 30157 30161 30166 30159
 30163 30162 30156 30165 30151 30155 30148 30154 30169 30152 30164 30146
 30082 30168]
2014
[30158 30042 30093 30090 30030 30157 30024 30016 30080 30035 30074 30053
 30032 30027 30036 30014 30043 30153 30028 30026 30006 30000 30112 30047
 30154 30018 30091 30033 30011 30019 30009 30015 30008 30048 30110 30005
 30060 30142 30088 30044 30089 30169 30049 30041 30022 30001 30064 30021
 30108 30166 30057 30045 30037 30029 30010 30092 30056 30058 30100 30149
 30147 30069 30081 30067 30109 30025 30146 30113 30040 30023 30007 30106
 30087 30131 30066 30012 30134 30098 30017 30065 30096 30079 30050 30144
 30073 30020 30152 30114 30151 30004 30124 30143 30039 30068 30103 30046
 30013 30031 30155 30136 30084 30085 30086 30099 30135 30054 30063 30161
 30162 30160 30104 30094 30072 30055 30052 30150 30038 30097 30107 30111
 30082 30076 30117 30133 30148 30137 30125 30120 30002 30128 30127 30119
 30078 30126 30101 30102 30123 30138 30139 30051 30145 30034 30075 30061
 30165 30132 30071 30118 30163 30121 30122 30070 30141 30116 30156 30115
 30077 30168 30062 30003 30129 30140 30105 30130 30059 30164 30095 30159
 30083 '30143' '30004' '30035' '30074' '30147' '30042' '30033' '30081'
 '30015' '30010' '30045' '30032' '30051' '30055' '30018' '30092' '30049'
 '30016' '30054' '30030' '30157' '30017' '30023' '30149' '30065' '30028'
 '30008' '30009' '30088' '30134' '30071' '30158' '30043' '30110' '30156'
 '30000' '30146' '30025' '30135' '30109' '30024' '30087' '30048' '30053'
 '30100' '30159' '30039' '30013' '30080' '30005' '30036' '30040' '30062'
 '30011' '30164' '30063' '30052' '30112' '30086' '30106' '30089' '30034'
 '30142' '30153' '30019' '30058' '30144' '30002' '30056' '30119' '30127'
 '30077' '30090' '30148' '30047' '30046' '30096' '30154' '30098' '30067'
 '30115' '30057' '30064' '30084' '30137' '30006' '30085' '30114' '30165'
 '30166' '30044' '30050' '30141' '30068' '30061' '30014' '30103' '30022'
 '30027' '30093' '30066' '30160' '30094' '30073' '30021' '30108' '30155'
 '30101' '30121' '30001' '30095' '30128' '30151' '30091' '30041' '30145'
 '30060' '30083' '30020' '30029' '30131' '30125' '30026' '30132' '30136'
 '30111' '30037' '30078' '30007' '30104' '30099' '30140' '30162' '30163'
 '30113' '30122' '30130' '30152' '30161' '30102' '30120' '30031' '30003'
 '30126' '30076' '30107' '30138' '30116' '30168' '30012' '30117' '30169'
 '30105' '30097' '30139' '30038' '30072' '30150' '30075' '30059' '30123'
 '30129' '30133' '30079' '30118' '30069' '30082' '30070' 'x-30158' '30124']
2015
['30093' '30009' '30017' '30006' '30024' '30064' '30051' '30053' '30090'
 '30029' '30025' '30058' '30088' '30037' '30154' '30055' '30004' '30098'
 '30057' '30094' '30033' '30142' '30040' '30091' '30000' '30183' '30095'
 '30014' '30186' '30077' '30030' '30069' '30143' '30076' '30045' '30060'
 '30074' '30019' '30079' '30027' '30140' '30115' '30002' '30138' '30082'
 '30042' '30105' '30099' '30075' '30114' '30155' '30101' '30034' '30086'
 '30050' '30031' '30085' '30010' '30083' '30161' '30011' '30084' '30111'
 '30162' '30015' '30047' '30097' '30147' '30001' '30113' '30120' '30126'
 '30141' '30108' '30123' '30139' '30119' '30102' '30008' '30065' '30187'
 '30117' '30054' '30100' '30043' '30158' '30170' '30049' '30182' '30149'
 '30166' '30078' '30089' '30131' '30157' '30109' '30110' '30044' '30046'
 '30156' '30021' '30164' '30122' '30035' '30176' '30087' '30061' '30188'
 '30181' '30018' '30012' '30026' '30171' '30167' '30179' '30175' '30092'
 '30036' '30022' '30151' '30134' '30152' '30125' '30144' '30032' '30048'
 '30160' '30013' '30073' '30189' '30153' '30172' '30052' '30148' '30130'
 '30150' '30020' '30007' '30137' '30128' '30165' '30005' '30028' '30173'
 '30180' '30063' '30169' '30062' '30159' '30185' '30104' '30103' '30096'
 '30023' '30041' '30080' '30107' '30081' '30112' '30106' '30127' '30163'
 '30177' '30038' '30016' '30059' '30067' '30068' '30072' '30116' '30124'
 '30132' '30178' '30129' 'NRHQ' '30121' '30146' '30066' '30056' '30003'
 '30145' '30168' '30135' '30118' '30133' '30184' '30136' '30070' '30174'
 '30071' '30039' 30086 30006 30143 30144 30036 30158 30110 30149 30045
 30157 30009 30013 30042 30104 30054 30186 30035 30010 30023 30019 30113
 30147 30080 30016 30051 30089 30008 30101 30021 30166 30000 30124 30093
 30178 30007 30005 30073 30122 30046 30022 30060 30048 30028 30156 30065
 30134 30004 30025 30014 30164 30160 30170 30027 30029 30082 30137 30112
 30011 30162 30115 30061 30034 30096 30039 30098 30100 30092 30032 30050
 30085 30081 30109 30091 30058 30184 30103 30064 30033 30127 30052 30189
 30159 30015 30024 30053 30074 30049 30094 30095 30088 30001 30030 30031
 30087 30165 30020 30154 30012 30090 30145 30083 30120 30141 30099 30040
 30018 30044 30153 30155 30047 30071 30072 30179 30187 30123 30172 30114
 30002 30017 30063 30026 30069 30111 30142 30188 30038 30056 30102 30076
 30057 30043 30176 30132 30062 30075 30105 30180 30078 30077 30084 30108
 30150 30140 30003 30119 30136 30185 30121 30135 30117 30133 30151 30106
 30107 30041 30173 30168 30037 30066 30163 30128 30148 30171 30118 30079
 30055 30116 30131 30068 30059 30097 30138 30130 30169 30152 30125 30161
 30139 30070 30126 30181 30167 30129 30177 30146 30175 30067]
2016
['30195' '30182' '30154' '30030' '30037' '30015' '30122' '30052' '30119'
 '30002' '30006' '30115' '30087' '30034' '30192' '30048' '30137' '30005'
 '30074' '30061' '30167' '30027' '30096' '30197' '30188' '30092' '30129'
 '30184' '30148' '30000' '30190' '30011' '30017' '30057' '30024' '30090'
 '30010' '30189' '30110' '30026' '30163' '30186' '30004' '30084-A' '30181'
 '30009' '30021' '30013' '30117' '30042' '30183' '30099' '30145' '30031'
 '30046' '30086' '30018' '30105' '30172' '30091' '30160' '30174' '30134'
 '30047' '30035' '30155' '30088' '30054' '30116' '30022' '30151' '30053'
 '30124' '30055' '30166' '30198' '30025' '30012' '30040' '30153' '30023'
 '30171' '30141' '30058' '30179' '30187' '30050' '30168' '30158' 'NRHQ'
 '30032' '30144' '30100' '30044' '30008' '30029' '30062' '30125' '30176'
 '30157' '30180' '30149' '30175' '30033' '30194' '30196' '30043' '30147'
 '30079' '30185' '30107' '30109' '30039' '30156' '30066' '30132' '30111'
 '30063' '30143' '30083' '30193' '30028' '30007' '30019' '30127' '30094'
 '30097' '30159' '30059' '30051' '30130' '30131' '30161' '30170' '30085'
 '30102' '30041' '30056' '30191' '30106' '30138' '30093' '30001' '30095'
 '30104' '30045' '30082' '30014' '30162' '30038' '30073' '30139' '30077'
 '30020' '30060' '30152' '30136' '30112' '30118' '30075' '30173' '30080'
 '30016' '30076' '30126' '30078' '30101' '30113' '30169' '30165' '30064'
 '30164' '30123' '30065' '30140' '30081' '30133' '30103' '30128' '30098'
 '30049' '30178' '30150' '30146-A' '30068' '30114' '30135' '30108' '30177'
 '30003' '30071' '30121' '30070' '30067' '30069' '30089' '30142' '30072'
 '30036' '30084' '30120' '30146' 30186 30015 30182 30165 30110 30065 30042
 30156 30058 30061 30161 30081 30088 30157 30031 30089 30104 30013 30005
 30050 30144 30017 30115 30027 30030 30142 30032 30127 30095 30091 30154
 30009 30048 30002 30019 30141 30158 30026 30024 30057 30021 30181 30189
 30113 30102 30164 30053 30148 30172 30183 30101 30109 30176 30063 30121
 30162 30028 30145 30087 30014 30166 30001 30044 30000 30097 30043 30039
 30187 30034 30029 30067 30131 30025 30134 30147 30090 30075 30036 30143
 30076 30051 30100 30040 30035 30140 30059 30086 30008 30074 30146 30093
 30094 30006 30047 30010 30092 30007 30117 30023 30062 30168 30020 30180
 30046 30137 30056 30011 30055 30077 30188 30126 30052 30054 30114 30153
 30184 30022 30045 30178 30041 30004 30138 30185 30103 30080 30082 30112
 30135 30128 30119 30038 30160 30149 30060 30167 30018 30083 30171 30175
 30037 30174 30098 30151 30170 30106 30012 30155 30064 30163 30152 30159
 30033 30139 30078 30016 30125 30099 30123 30169 30136 30118 30073 30079
 30124 30049 30122 30107 30173 30108 30132 30085 30066 30096 30129 30116
 30177 30133 30130 30071 30070 30003 30105 30084 30069 30072 30111 30150
 30120 30068]
2017
['30184' '30122' '30106' '30183' '30030' '30197' '30067' '30101' '30051'
 '30004' '30115' '30186' '30192' '30196' '30057' '30109' '30088' '30080'
 '30039' '30047' '30090' '30110' '30013' '30009' '30180' '30187' '30029'
 '30141' '30091' '30035' '30194' '30027' '30116' '30011' '30032' '30018'
 '30176' '30087' '30034' '30142' '30204' '30060' '30025' '30127' '30031'
 '30000' '30189' '30085' '30100' '30019' '30149' '30155' '30105' '30042'
 '30156' 'NRHQ' '30094' '30074' '30147' '30191' '30174' '30190' '30012'
 '30024' '30198' '30185' '30037' '30020' '30043' '30049' '30015' '30062'
 '30166' '30093' '30125' '30026' '30017' '30111' '30007' '30044' '30061'
 '30202' '30188' '30137' '30195' '30128' '30064' '30073' '30046' '30171'
 '30014' '30048' '30138' '30181' '30159' '30003' '30153' '30006' '30086'
 '30113' '30144' '30162' '30179' '30008' '30038' '30089' '30154' '30054'
 '30053' '30040' '30002' '30182' '30055' '30107' '30193' '30143' '30052'
 '30140' '30095' '30104' '30028' '30045' '30010' '30161' '30118' '30157'
 '30160' '30083' '30199' '30102' '30099' '30158' '30050' '30170' '30033'
 '30151' '30097' '30001' '30103' '30076' '30071' '30063' '30132' '30023'
 '30098' '30041' '30070' '30130' '30139' '30016' '30065' '30058' '30131'
 '30163' '30005' '30117' '30177' '30056' '30059' '30082' '30077' '30164'
 '30096' '30081' '30092' '30148' '30126' '30069' '30075' '30123' '30178'
 '30145' '30021' '30136' '30066' '30120' '30168' '30167' '30129' '30114'
 '30175' '30135' '30079' '30119' '30078' '30203' '30169' '30150' '30165'
 '30152' '30108' '30133' '30121' '30134' '30146' '30068' '30201' '30173'
 '30172' '30124' '30022' '30112' 30195 30009 30040 30188 30183 30047 30191
 30202 30027 30057 30107 30019 30002 30020 30024 30051 30179 30035 30161
 30074 30033 30144 30011 30030 30158 30042 30026 30092 30031 30110 30197
 30088 30029 30062 30089 30091 30196 30004 30154 30006 30182 30184 30043
 30018 30052 30135 30157 30087 30115 30193 30109 30099 30016 30141 30143
 30190 30037 30149 30014 30067 30008 30172 30005 30186 30185 30015 30001
 30022 30025 30063 30046 30194 30174 30122 30048 30104 30093 30066 30034
 30045 30137 30152 30060 30032 30100 30059 30010 30189 30013 30165 30160
 30131 30096 30095 30192 30103 30041 30151 30061 30090 30106 30044 30098
 30054 30073 30000 30058 30112 30064 30102 30012 30140 30180 30065 30049
 30138 30171 30117 30094 30021 30147 30007 30003 30118 30170 30176 30017
 30130 30178 30187 30071 30156 30101 30121 30126 30050 30145 30081 30123
 30127 30053 30028 30201 30085 30132 30105 30038 30163 30056 30181 30164
 30080 30153 30114 30108 30175 30159 30166 30039 30116 30134 30119 30148
 30124 30146 30162 30198 30075 30082 30055 30086 30068 30079 30128 30129
 30077 30023 30167 30125 30113 30083 30173 30136 30076 30139 30097 30150
 30111 30133 30203 30155 30169 30120 30168 30078 30070 30177 30069 30142]

In [10]:
for x in range(8) :
    print('201'+str(x))
    print(df_list[x]['End_id'].unique())

2010
[ 30000.  30042.  30004.  30021.  30019.  30047.  30029.  30011.  30048.
  30009.  30025.  30006.  30015.  30027.  30013.  30032.  30046.  30041.
  30040.  30005.  30034.  30050.  30018.  30024.  30036.  30052.  30010.
  30031.  30035.  30043.  30028.  30026.  30001.  30007.  30053.  30020.
  30051.  30017.  30045.  30014.  30030.  30012.  30055.  30058.  30016.
  30056.  30008.  30039.  30057.  30037.  30060.  30061.  30038.  30049.
  30044.  30063.  30033.  30064.  30054.  30003.  30059.  30062.  30002.
  30022.  30023.]
2011
[ 30008.  30055.  30006.  30048.  30053.  30001.  30052.  30024.  30030.
  30000.  30043.  30016.  30028.  30061.  30013.  30045.  30042.  30017.
  30040.  30011.  30014.  30044.  30050.  30025.  30047.  30020.  30056.
  30060.  30032.  30039.  30022.  30021.  30015.  30007.  30049.  30018.
  30009.  30038.  30012.  30004.  30046.  30010.  30063.  30027.  30031.
  30051.  30005.  30035.  30041.  30062.  30064.  30033.  30002.  30054.
  30003.  30019.  30070.  30059.  30071.  30029.  30065.  30023.  30036.
  30067.  30068.  30069.  30026.  30037.  30058.  30057.  30034.  30066.
  30072.  30074.  30080.  30081.  30073.  30076.  30077.  30079.  30088.
  30075.  30083.  30086.  30082.  30078.  30087.  30091.  30090.  30095.
  30094.  30098.  30096.  30097.  30092.  30085.  30093.  30089.  30099.
  30084.  30102.  30103.  30105.  30101.  30108.  30107.  30109.  30110.
  30104.  30100.  30112.  30106.  30114.  30111.  30113.  30115.]
2012
[ 30008.  30108.  30023.  30054.  30036.  30011.  30106.  30019.  30037.
  30038.  30045.  30014.  30024.  30005.  30080.  30088.  30027.  30013.
  30015.  30042.  30029.  30018.  30094.  30109.  30091.  30063.  30066.
  30006.  30009.  30110.  30025.  30052.  30020.  30061.  30057.  30034.
  30043.  30076.  30064.  30016.  30021.  30004.  30048.  30026.  30047.
  30028.  30060.  30007.  30046.  30090.  30035.  30056.  30055.  30065.
  30051.  30113.  30032.  30030.  30058.  30050.  30040.  30086.  30002.
  30114.  30107.  30103.  30100.  30022.  30010.  30049.  30074.  30000.
  30087.  30012.  30053.  30067.  30039.  30072.  30071.  30097.  30017.
  30089.  30062.  30044.  30092.  30095.  30098.  30033.  30001.  30104.
  30111.  30096.  30078.  30081.  30073.  30112.  30077.  30084.  30085.
  30079.  30059.  30083.  30075.  30099.  30041.  30070.  30003.  30093.
  30115.  30031.  30068.  30105.  30102.  30069.  30101.  30133.  30128.
  30124.  30119.  30141.  30137.  30117.  30122.  30125.  30131.  30116.
  30136.  30134.  30129.  30138.  30140.  30139.  30132.  30120.  30126.
  30118.  30121.  30130.  30135.  30127.  30142.  30144.  30123.  30145.
  30143.  30160.  30157.]
2013
[ 30008.  30023.  30042.  30054.  30030.  30091.  30016.  30143.  30021.
  30098.  30142.  30010.  30000.  30088.  30005.  30108.  30013.  30050.
  30009.  30104.  30025.  30057.  30058.  30094.  30046.  30020.  30027.
  30006.  30047.  30061.  30083.  30039.  30090.  30063.  30001.  30052.
  30122.  30037.  30019.  30097.  30093.  30124.  30065.  30081.  30067.
  30044.  30056.  30132.  30119.  30048.  30095.  30074.  30079.  30138.
  30045.  30035.  30060.  30080.  30043.  30024.  30075.  30015.  30002.
  30026.  30004.  30033.  30034.  30055.  30029.  30007.  30053.  30051.
  30012.  30102.  30040.  30041.  30031.  30038.  30117.  30092.  30109.
  30018.  30017.  30072.  30064.  30086.  30049.  30096.  30099.  30113.
  30087.  30110.  30107.  30128.  30028.  30089.  30084.  30078.  30076.
  30022.  30127.  30116.  30141.  30125.  30118.  30066.  30059.  30136.
  30032.  30003.  30135.  30011.  30014.  30131.  30134.  30036.  30071.
  30145.  30106.  30103.  30120.  30111.  30140.  30121.  30077.  30144.
  30069.  30137.  30100.  30070.  30105.  30129.  30085.  30101.  30126.
  30062.  30112.  30068.  30115.  30114.  30130.  30133.  30139.  30123.
  30073.  30149.  30159.  30160.  30166.  30147.  30158.  30157.  30153.
  30167.  30150.  30161.  30164.  30163.  30162.  30156.  30151.  30165.
  30155.  30148.  30169.  30154.  30152.  30146.  30082.  30168.]
2014
[30158.0 30091.0 30157.0 30053.0 30030.0 30090.0 30079.0 30044.0 30024.0
 30035.0 30054.0 30016.0 30045.0 30020.0 30047.0 30093.0 30026.0 30027.0
 30041.0 30006.0 30057.0 30108.0 30014.0 30037.0 30022.0 30008.0 30042.0
 30043.0 30153.0 30080.0 30033.0 30048.0 30112.0 30005.0 30000.0 30055.0
 30011.0 30110.0 30089.0 30025.0 30144.0 30154.0 30064.0 30056.0 30049.0
 30029.0 30001.0 30166.0 30088.0 30021.0 30149.0 30040.0 30036.0 30010.0
 30060.0 30023.0 30009.0 30031.0 30092.0 30067.0 30142.0 30058.0 30032.0
 30012.0 30004.0 30100.0 30147.0 30007.0 30069.0 30018.0 30068.0 30169.0
 30065.0 30109.0 30015.0 30146.0 30087.0 30050.0 30066.0 30106.0 30113.0
 30115.0 30131.0 30098.0 30096.0 30039.0 30134.0 30104.0 30019.0 30103.0
 30017.0 30160.0 30124.0 30074.0 30013.0 30163.0 30152.0 30046.0 30086.0
 30073.0 30114.0 30135.0 30162.0 30085.0 30099.0 30121.0 30028.0 30063.0
 30161.0 30072.0 30052.0 30156.0 30071.0 30111.0 30038.0 30155.0 30078.0
 30107.0 30076.0 30139.0 30117.0 30097.0 30101.0 30125.0 30002.0 30132.0
 30148.0 30143.0 30120.0 30127.0 30128.0 30102.0 30151.0 30136.0 30137.0
 30034.0 30081.0 30119.0 30145.0 30126.0 30062.0 30075.0 30051.0 30084.0
 30133.0 30130.0 30165.0 30061.0 30150.0 30123.0 30141.0 30094.0 30116.0
 30118.0 30122.0 30077.0 30105.0 30082.0 30070.0 30003.0 30129.0 30168.0
 30138.0 30059.0 30140.0 30164.0 30095.0 30159.0 30083.0 '30092' '30042'
 '30051' '30163' '30043' '30088' '30050' '30006' '30090' '30119' '30015'
 '30161' '30011' '30094' '30044' '30060' '30097' '30023' '30000' '30005'
 '30049' '30029' '30142' '30106' '30096' '30154' '30089' '30093' '30017'
 '30055' '30081' '30040' '30009' '30057' '30052' '30091' '30030' '30021'
 '30041' '30024' '30133' '30004' '30007' '30098' '30074' '30013' '30048'
 '30016' '30037' '30160' '30101' '30110' '30063' '30039' '30117' '30141'
 '30065' '30156' '30075' '30087' '30018' '30033' '30020' '30165' '30086'
 '30137' '30158' '30054' '30010' '30068' '30045' '30073' '30166' '30046'
 '30027' '30001' '30104' '30113' '30095' '30108' '30047' '30002' '30026'
 '30147' '30157' '30012' '30053' '30028' '30056' '30143' '30148' '30080'
 '30109' '30022' '30034' '30076' '30061' '30100' '30038' '30062' '30078'
 '30031' '30058' '30064' '30077' '30155' '30116' '30114' '30121' '30036'
 '30144' '30149' '30008' '30115' '30150' '30071' '30085' '30103' '30132'
 '30159' '30099' '30035' '30153' '30128' '30084' '30059' '30066' '30146'
 '30135' '30145' '30072' '30025' '30122' '30111' '30003' '30169' '30019'
 '30124' '30131' '30112' '30126' '30164' '30107' '30134' '30162' '30014'
 '30083' '30032' '30127' '30136' '30123' '30129' '30102' '30140' '30152'
 '30105' '30120' '30130' '30138' '30118' '30082' '30151' '30079' '30070'
 '30168' '30125' '30139' '30067' '30069' 'NR-test' 'x-30158']
2015
['30170' '30104' '30017' '30006' '30019' '30008' '30051' '30018' '30009'
 '30030' '30109' '30024' '30187' '30060' '30042' '30052' '30093' '30178'
 '30045' '30004' '30094' '30182' '30014' '30011' '30143' '30154' '30189'
 '30087' '30048' '30033' '30183' '30055' '30069' '30036' '30013' '30057'
 '30091' '30000' '30001' '30088' '30155' '30099' '30040' '30086' '30162'
 '30016' '30046' '30085' '30115' '30084' '30034' '30114' '30049' '30074'
 '30097' '30050' '30147' '30149' '30106' '30054' '30044' '30043' '30038'
 '30025' '30102' '30158' '30131' '30166' '30108' '30015' '30080' '30027'
 '30047' '30119' '30142' '30157' '30089' '30083' '30056' '30156' '30141'
 '30160' '30020' '30029' '30090' '30164' '30053' '30092' '30161' '30037'
 '30172' '30081' '30035' '30134' '30110' '30021' '30188' '30122' '30022'
 '30179' '30032' '30151' '30010' '30130' '30144' '30073' '30186' '30153'
 '30148' '30065' '30064' '30173' '30012' '30167' '30100' '30138' '30150'
 '30152' '30180' '30163' '30128' '30112' '30113' '30005' '30103' '30007'
 '30101' '30058' '30002' '30159' '30176' '30136' '30117' '30062' '30075'
 '30168' '30026' '30095' '30063' '30061' '30185' '30096' '30133' '30165'
 '30098' '30041' '30111' '30126' '30076' '30169' '30079' '30171' '30031'
 '30177' '30137' '30059' '30174' '30028' '30077' '30105' '30078' '30146'
 '30067' '30125' '30124' '30121' '30023' '30129' '30116' '30145' '30120'
 '30123' 'NRHQ' '30127' '30066' '30068' '30181' '30118' '30140' '30135'
 '30139' '30003' '30184' '30132' '30107' '30070' '30175' '30082' '30072'
 '30071' '30039' 30086 30158 30035 30036 30184 30015 30157 30024 30156
 30034 30142 30020 30179 30149 30094 30046 30039 30016 30004 30007 30006
 30019 30102 30025 30044 30027 30000 30089 30087 30009 30116 30056 30166
 30051 30112 30124 30053 30093 30180 30043 30130 30050 30060 30017 30042
 30120 30045 30011 30054 30147 30091 30061 30110 30176 30186 30123 30040
 30121 30023 30005 30164 30013 30064 30154 30032 30187 30100 30092 30181
 30048 30104 30085 30014 30113 30144 30047 30143 30170 30003 30088 30128
 30178 30037 30008 30160 30141 30189 30049 30162 30028 30030 30155 30150
 30058 30122 30057 30153 30022 30073 30018 30125 30074 30165 30127 30031
 30145 30134 30115 30082 30111 30159 30081 30132 30021 30012 30069 30071
 30052 30137 30185 30001 30105 30083 30075 30072 30065 30078 30010 30172
 30029 30188 30076 30002 30090 30135 30148 30161 30062 30151 30099 30119
 30098 30026 30063 30174 30109 30079 30095 30131 30152 30038 30138 30163
 30096 30117 30080 30101 30108 30041 30173 30066 30129 30103 30133 30171
 30168 30059 30033 30175 30114 30097 30106 30068 30167 30169 30084 30055
 30146 30177 30107 30139 30126 30136 30118 30077 30140 30070 30067]
2016
['30057' '30055' '30065' '30037' '30021' '30122' '30052' '30119' '30006'
 '30034' '30112' '30195' '30009' '30166' '30140' '30015' '30019' '30043'
 '30163' '30046' '30000' '30088' '30110' '30007' '30115' '30092' '30093'
 '30182' '30189' '30030' '30174' '30011' '30129' '30160' '30191' '30188'
 '30084-A' '30196' '30016' '30024' '30192' '30167' '30161' '30170' '30091'
 '30096' '30087' '30086' '30179' '30154' '30141' '30165' '30027' '30198'
 '30197' '30194' '30035' '30002' '30101' '30183' '30026' '30099' '30018'
 '30078' '30040' '30008' '30005' '30117' '30155' '30074' '30028' '30061'
 '30105' '30017' '30151' '30032' '30022' '30172' '30062' '30033' '30116'
 '30047' '30153' '30156' '30029' '30004' '30168' 'NRHQ' '30176' '30109'
 '30054' '30185' '30180' '30175' '30144' '30100' '30050' '30187' '30094'
 '30158' '30042' '30118' '30090' '30107' '30181' '30134' '30149' '30031'
 '30041' '30048' '30044' '30053' '30058' '30073' '30171' '30152' '30157'
 '30060' '30128' '30063' '30010' '30127' '30104' '30147' '30184' '30020'
 '30162' '30137' '30131' '30190' '30039' '30148' '30145' '30159' '30025'
 '30066' '30132' '30095' '30130' '30059' '30080' '30111' '30113' '30045'
 '30106' '30064' '30083' '30135' '30001' '30038' '30178' '30102' '30114'
 '30193' '30014' '30164' '30013' '30126' '30012' '30136' '30056' '30133'
 '30124' '30143' '30077' '30079' '30169' '30177' '30023' '30076' '30051'
 '30186' '30097' '30098' '30049' '30085' '30150' '30146-A' '30108' '30081'
 '30125' '30173' '30075' '30139' '30103' '30068' '30003' '30071' '30123'
 '30070' '30138' '30082' '30067' '30121' '30069' '30089' '30142' '30072'
 '30036' '30084' '30120' '30146' 30040 30015 30057 30006 30165 30110 30188
 30093 30156 30189 30013 30184 30045 30087 30088 30158 30032 30089 30091
 30061 30005 30010 30154 30025 30009 30024 30007 30017 30183 30030 30127
 30095 30176 30109 30144 30060 30081 30090 30121 30166 30019 30092 30034
 30014 30074 30058 30113 30102 30001 30171 30148 30076 30047 30141 30162
 30143 30018 30042 30050 30161 30097 30048 30115 30011 30142 30147 30186
 30180 30117 30037 30100 30021 30131 30182 30137 30036 30172 30101 30094
 30187 30059 30106 30146 30035 30160 30012 30096 30053 30124 30000 30065
 30046 30157 30004 30134 30044 30067 30083 30164 30051 30016 30043 30027
 30031 30008 30126 30054 30078 30153 30063 30174 30055 30022 30104 30122
 30118 30002 30041 30111 30105 30168 30056 30135 30140 30119 30029 30145
 30020 30163 30149 30185 30098 30023 30085 30077 30038 30136 30175 30167
 30049 30170 30178 30151 30075 30064 30052 30039 30086 30129 30026 30080
 30033 30062 30138 30028 30112 30099 30159 30173 30066 30128 30181 30123
 30169 30108 30132 30152 30139 30079 30082 30114 30130 30155 30073 30107
 30125 30003 30177 30103 30116 30071 30072 30120 30133 30150 30069 30084
 30070 30068]
2017

['30104' '30122' '30101' '30014' '30088' '30034' '30015' '30065' '30106'
 '30093' '30187' '30027' '30197' '30110' '30196' '30109' '30195' '30192'
 '30037' '30006' '30091' '30188' '30018' '30043' '30183' '30184' '30194'
 '30048' '30119' '30047' '30046' '30052' '30004' '30161' '30141' '30009'
 '30039' '30074' '30180' '30011' '30142' '30179' '30032' '30007' '30154'
 '30017' '30012' '30030' '30115' '30100' '30156' '30050' '30013' '30057'
 '30085' '30099' '30176' '30155' '30008' '30149' '30031' '30171' '30051'
 '30024' '30060' '30147' '30186' '30143' '30111' '30108' '30198' '30064'
 '30026' '30049' '30094' '30127' '30116' '30019' '30166' '30062' '30090'
 '30000' '30016' '30204' '30128' '30138' '30042' '30073' '30035' '30025'
 '30029' '30137' '30159' '30053' '30153' 'NRHQ' '30178' '30045' '30092'
 '30086' '30044' '30002' '30089' '30162' '30020' '30081' '30063' '30033'
 '30010' '30054' '30182' '30041' '30076' '30190' '30118' '30055' '30061'
 '30140' '30189' '30087' '30202' '30157' '30193' '30191' '30160' '30102'
 '30038' '30040' '30181' '30113' '30164' '30144' '30167' '30151' '30001'
 '30103' '30075' '30056' '30028' '30066' '30130' '30003' '30005' '30079'
 '30095' '30117' '30170' '30058' '30023' '30070' '30163' '30131' '30114'
 '30148' '30125' '30107' '30132' '30098' '30177' '30096' '30067' '30078'
 '30150' '30021' '30080' '30059' '30185' '30145' '30169' '30083' '30174'
 '30123' '30139' '30165' '30135' '30146' '30126' '30120' '30097' '30168'
 '30129' '30069' '30199' '30203' '30158' '30175' '30121' '30152' '30105'
 '30133' '30136' '30077' '30082' '30068' '30134' '30071' '30201' '30173'
 '30172' '30124' '30022' '30112' 30183 30190 30097 30172 30009 30197 30202
 30032 30186 30067 30074 30117 30116 30024 30168 30169 30110 30044 30115
 30143 30029 30149 30004 30025 30047 30033 30034 30040 30011 30057 30088
 30021 30090 30154 30008 30042 30000 30051 30194 30017 30015 30053 30089
 30161 30096 30192 30075 30027 30020 30135 30179 30013 30195 30026 30137
 30018 30019 30158 30182 30177 30157 30091 30196 30001 30048 30144 30014
 30031 30188 30184 30061 30122 30065 30030 30043 30010 30064 30046 30037
 30099 30028 30100 30066 30023 30050 30128 30006 30131 30058 30007 30059
 30094 30063 30106 30002 30054 30104 30102 30079 30193 30056 30176 30127
 30181 30124 30016 30155 30165 30039 30151 30139 30180 30080 30086 30152
 30092 30156 30060 30125 30130 30121 30112 30076 30052 30147 30105 30038
 30035 30141 30085 30022 30134 30062 30049 30103 30078 30093 30126 30185
 30189 30109 30108 30114 30087 30164 30012 30187 30171 30159 30163 30166
 30173 30153 30160 30123 30140 30148 30146 30162 30071 30191 30045 30167
 30083 30081 30041 30068 30198 30203 30174 30118 30073 30005 30098 30119
 30129 30069 30055 30095 30132 30145 30136 30003 30175 30101 30201 30150
 30170 30077 30107 30113 30178 30120 30133 30070 30138 30111 30082 30142]

Start_id : 
 * 2014: 'x-30158'
 * 2015: 'NRHQ'
 * 2016: '30084-A', 'NRHQ', '30146-A'
 * 2017: 'NRHQ'
End_id : 
 * 2014: 'NR-test'
 * 2015: 'NRHQ'
 * 2016: '30084-A', 'NRHQ', '30146-A'
 * 2017: 'NRHQ'

These are our 'bad' terminal ID's, Looking through station ID data notes, we can find out that 'NRHQ' is a headquarters terminal. This terminal isn't a 'real' use terminal and can be deleted. This was confirmed by contacting MN Nice Ride and asking about this stations use.

In [11]:
df_list[5] = df_list[5][df_list[5]['Start_id'] != 'NRHQ']
df_list[6] = df_list[6][df_list[6]['Start_id'] != 'NRHQ']
df_list[7] = df_list[7][df_list[7]['Start_id'] != 'NRHQ']
df_list[5] = df_list[5][df_list[5]['End_id'] != 'NRHQ']
df_list[6] = df_list[6][df_list[6]['End_id'] != 'NRHQ']
df_list[7] = df_list[7][df_list[7]['End_id'] != 'NRHQ']

df_list[4] = df_list[4][df_list[4]['End_id'] != 'NR-test']

In [12]:
print(df_list[4][df_list[4]['Start_id'] == 'x-30158']['duration'].describe())
print(len(df_list[4][df_list[4]['Start_id'] == 'x-30158']['duration'].values))

count    1.027000e+03
mean     1.782697e+04
std      4.896123e+05
min      5.000000e+00
25%      1.084000e+03
50%      1.661000e+03
75%      2.782500e+03
max      1.569208e+07
Name: duration, dtype: float64
1027

In [13]:
print(df_list[6][df_list[6]['Start_id'] == '30084-A']['duration'].describe())
print(len(df_list[6][df_list[6]['Start_id'] == '30084-A']['duration'].values))

count    7.770000e+02
mean     9.612391e+03
std      1.065370e+05
min      6.100000e+01
25%      4.310000e+02
50%      7.050000e+02
75%      1.392000e+03
max      2.500669e+06
Name: duration, dtype: float64
777

In [14]:
print(df_list[6][df_list[6]['Start_id'] == '30146-A']['duration'].describe())
print(len(df_list[6][df_list[6]['Start_id'] == '30146-A']['duration'].values))

count      98.000000
mean     2545.459184
std      1327.361278
min       177.000000
25%      1674.250000
50%      2268.000000
75%      3022.250000
max      7454.000000
Name: duration, dtype: float64
98

The 2014 station 'x-30158' has a mean use time of ~18 seconds. This data can be purged, most bicycle rides would be longer than 18 seconds.

In [15]:
df_list[4] = df_list[4][df_list[4]['Start_id'] != 'x-30158']
df_list[4] = df_list[4][df_list[4]['End_id'] != 'x-30158']

 The 2016 stations ('30084-A', '30146-A') have a reasonable mean use time and will be preserved. This will help 'save' 875 rides worth of data.

In [16]:
df_list[6].loc[df_list[6]['Start_id'] == '30084-A', 'Start_id'] = '30084'
df_list[6].loc[df_list[6]['Start_id'] == '30146-A', 'Start_id'] = '30146'
df_list[6].loc[df_list[6]['End_id'] == '30084-A', 'End_id'] = '30084'
df_list[6].loc[df_list[6]['End_id'] == '30146-A', 'End_id'] = '30146'

## The data types can now be changed since the columns only contain numerical data now

In [17]:
# can force dtype now that NaN have been removed
for x in range(8) :
    df_list[x]['Start_id'] = df_list[x]['Start_id'].astype(int)
    df_list[x]['End_id'] = df_list[x]['End_id'].astype(int)
    df_list[x]['duration'] = df_list[x]['duration'].astype(int)

In [1]:
# Final data types check, everything should match
for x in range(8) :
    print('201'+str(x))
    print(df_list[x].info())

2010

NameError: name 'df_list' is not defined

## Removing unknown account types
 * Unknown
 * Inconnu
     * French for unknown

In [19]:
for x in range(8) :
    print('201'+str(x))
    print(df_list[x]['account'].value_counts())

2010
Casual     52521
Member     48853
Unknown       52
Name: account, dtype: int64
2011
Member    148544
Casual     69352
Name: account, dtype: int64
2012
Member    170177
Casual    104403
Name: account, dtype: int64
2013
Member     178062
Casual     130714
Unknown         1
Name: account, dtype: int64
2014
Member     211211
Casual     202417
Unknown         5
Name: account, dtype: int64
2015
Member     243745
Casual     239354
Unknown         1
Name: account, dtype: int64
2016
Member     281958
Casual     150024
Inconnu         3
Name: account, dtype: int64
2017
Member     289514
Casual     170389
Inconnu         2
Name: account, dtype: int64

In [20]:
for x in range(8) :
    df_list[x] = df_list[x][df_list[x]['account'] != 'Unknown']
    df_list[x] = df_list[x][df_list[x]['account'] != 'Inconnu']

In [21]:
for x in range(8) :
    print('201'+str(x))
    print(df_list[x]['account'].value_counts())

2010
Casual    52521
Member    48853
Name: account, dtype: int64
2011
Member    148544
Casual     69352
Name: account, dtype: int64
2012
Member    170177
Casual    104403
Name: account, dtype: int64
2013
Member    178062
Casual    130714
Name: account, dtype: int64
2014
Member    211211
Casual    202417
Name: account, dtype: int64
2015
Member    243745
Casual    239354
Name: account, dtype: int64
2016
Member    281958
Casual    150024
Name: account, dtype: int64
2017
Member    289514
Casual    170389
Name: account, dtype: int64

## Reordering of columns so each year is identical

In [22]:
reorder_columns = ['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name','End_id', 'duration', 'account']

for x in range(8):
    df_list[x] = df_list[x].reindex(columns=reorder_columns)

Verifying that the columns reordered as desired

In [23]:
print([df_list[x].columns for x in range(8)])

[Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object'), Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object'), Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object'), Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object'), Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object'), Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object'), Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object'), Index(['Start_date', 'Start_name', 'Start_id', 'End_date', 'End_name',
       'End_id', 'duration', 'account'],
      dtype='object')]

In [24]:
print([df_list[x].head() for x in range(8)])

[           Start_date          Start_name  Start_id            End_date  \
0 2010-06-10 08:01:00  100 Main Street SE     30000 2010-06-10 08:01:00
1 2010-06-10 17:38:00  100 Main Street SE     30000 2010-06-10 17:54:00
2 2010-06-10 21:15:00  100 Main Street SE     30000 2010-06-10 21:27:00
3 2010-06-11 13:52:00  100 Main Street SE     30000 2010-06-11 14:42:00
4 2010-06-11 15:20:00  100 Main Street SE     30000 2010-06-11 16:11:00

                 End_name  End_id  duration account
0      100 Main Street SE   30000         8  Casual
1              IDS Center   30042       964  Casual
2  11th Street & Hennepin   30004       717  Casual
3  Washington & 2nd Ave N   30021      2966  Casual
4             Blegen Hall   30019      3040  Casual  ,            Start_date               Start_name  Start_id            End_date  \
0 2011-04-07 12:49:00         Midtown Exchange     30008 2011-04-07 12:50:00
1 2011-04-08 14:21:00        Walker Art Center     30016 2011-04-08 14:48:00
3 2011-04-08 14:31:00            YWCA Downtown     30006 2011-04-08 15:19:00
4 2011-04-08 14:38:00        Walker Art Center     30016 2011-04-08 14:42:00
5 2011-04-08 14:39:00  7th Street & 4th Ave. S     30051 2011-04-08 14:57:00

                        End_name  End_id  duration account
0               Midtown Exchange   30008        46  Casual
1     Hennepin Ave. & 4th Street   30055      1621  Casual
3                  YWCA Downtown   30006      2885  Casual
4         Franklin Ave. & Colfax   30048       245  Member
5  2nd Ave. N & North 4th Street   30053      1048  Member  ,            Start_date                     Start_name  Start_id  \
0 2012-04-02 13:07:00               Midtown Exchange     30008
1 2012-04-02 14:03:00               Midtown Exchange     30008
2 2012-04-02 15:08:00          Chicago & 27th Street     30023
3 2012-04-02 15:26:00  5th Ave. S & East 27th Street     30054
4 2012-04-02 15:57:00  5th Ave. S & East 27th Street     30054

             End_date                       End_name  End_id  duration account
0 2012-04-02 13:42:00               Midtown Exchange   30008      2075  Casual
1 2012-04-02 14:09:00        Carter Ave. & Como Ave.   30108       303  Casual
2 2012-04-02 15:08:00          Chicago & 27th Street   30023         3  Member
3 2012-04-02 15:26:00  5th Ave. S & East 27th Street   30054         4  Member
4 2012-04-02 16:17:00               Downtown Library   30036      1197  Member  ,            Start_date        Start_name  Start_id            End_date  \
0 2013-01-08 16:05:00  Midtown Exchange     30008 2013-01-08 16:05:00
1 2013-01-10 12:30:00  Midtown Exchange     30008 2013-01-10 12:32:00
2 2013-02-05 11:12:00  Midtown Exchange     30008 2013-02-05 11:13:00
3 2013-02-20 12:20:00  Midtown Exchange     30008 2013-02-20 13:19:00
4 2013-02-21 16:40:00  Midtown Exchange     30008 2013-02-21 16:40:00

           End_name  End_id  duration account
0  Midtown Exchange   30008         8  Member
1  Midtown Exchange   30008       106  Member
2  Midtown Exchange   30008        22  Member
3  Midtown Exchange   30008      3547  Member
4  Midtown Exchange   30008         5  Member  ,            Start_date                Start_name  Start_id            End_date  \
0 2014-04-11 18:46:00  Lake Street & Knox Ave S     30158 2014-04-11 19:22:00
1 2014-04-11 18:46:00  Lake Street & Knox Ave S     30158 2014-04-11 19:22:00
2 2014-04-11 19:05:00                IDS Center     30042 2014-04-11 19:26:00
3 2014-04-11 19:16:00  Lake Street & Knox Ave S     30158 2014-04-11 19:52:00
4 2014-04-11 19:16:00  Lake Street & Knox Ave S     30158 2014-04-11 19:50:00

                   End_name  End_id  duration account
0  Lake Street & Knox Ave S   30158      2192  Casual
1  Lake Street & Knox Ave S   30158      2194  Casual
2              Gateway Park   30091      1252  Member
3    Lake Harriet Bandshell   30157      2150  Member
4    Lake Harriet Bandshell   30157      2045  Member  ,            Start_date                    Start_name  Start_id  \
0 2015-11-01 21:55:00     West 15th Street & Willow     30093
1 2015-11-01 21:55:00     West 15th Street & Willow     30093
2 2015-11-01 21:55:00      4th Street & 13th Ave SE     30009
3 2015-11-01 21:54:00  Lyndale Ave S & 22nd Street      30017
4 2015-11-01 21:54:00                 YWCA Downtown     30006

             End_date                      End_name  End_id  duration account
0 2015-11-01 22:12:00               Nicollet Island   30170       983  Member
1 2015-11-01 22:12:00               Nicollet Island   30170       980  Member
2 2015-11-01 22:05:00                    Logan Park   30104       565  Casual
3 2015-11-01 21:55:00  Lyndale Ave S & 22nd Street    30017        65  Member
4 2015-11-01 22:44:00                 YWCA Downtown   30006      3037  Casual  ,            Start_date                 Start_name  Start_id  \
0 2016-11-06 22:09:00                Willey Hall     30195
1 2016-11-06 21:53:00               Sanford Hall     30182
2 2016-11-06 21:52:00  11th Ave S & S 2nd Street     30154
3 2016-11-06 21:52:00  11th Ave S & S 2nd Street     30154
4 2016-11-06 21:52:00  11th Ave S & S 2nd Street     30154

             End_date                        End_name  End_id  duration  \
0 2016-11-06 22:14:00                 McNamara Center   30057       325
1 2016-11-06 21:59:00                 McNamara Center   30057       315
2 2016-11-06 22:17:00  Malcolm Ave SE & 5th Street SE   30055      1504
3 2016-11-06 22:17:00  Malcolm Ave SE & 5th Street SE   30055      1496
4 2016-11-06 22:17:00  Malcolm Ave SE & 5th Street SE   30055      1506

  account
0  Casual
1  Member
2  Casual
3  Casual
4  Casual  ,            Start_date                        Start_name  Start_id  \
0 2017-11-05 21:45:00   Hennepin Ave & S Washington Ave     30184
1 2017-11-05 21:45:00  Broadway Street N & 4th Street E     30122
2 2017-11-05 21:43:00          Dale Street & Grand Ave.     30106
3 2017-11-05 21:41:00                Weisman Art Museum     30183
4 2017-11-05 21:38:00      South 2nd Street & 3rd Ave S     30030

             End_date                          End_name  End_id  duration  \
0 2017-11-05 22:02:00                        Logan Park   30104      1048
1 2017-11-05 22:26:00  Broadway Street N & 4th Street E   30122      2513
2 2017-11-05 22:13:00      N Milton Street & Summit Ave   30101      1817
3 2017-11-05 22:05:00         22nd Ave S & Franklin Ave   30014      1399
4 2017-11-05 21:44:00       6th Ave SE & University Ave   30088       370

  account
0  Member
1  Member
2  Member
3  Casual
4  Member  ]

## Processing outliers
Most station usage statistics will be in regards to user-station interaction. In the case of prolonged rides (possible theft after usage) we'll maintain this data. It will still count as a user-station interaction. 

We will remove rides that are too short. This will be done using the following logic: 12 mph is considered a low to moderate speed for bike rides. Most NiceRide bikes will be taken at this speed or slower due to the mechanics of these bikes. Average block size is 310-325 ft. At 12mph 63,360 feet per hour. A person could travel ~3 city blocks per minute. If a person were to travel to a different station (at least a city block away) a low to moderate time to due so would be ~20 seconds. Most rides should be longer than 20 seconds. Rides that are shorter are most likely people returning a bike back into the same rack as it was removed to grab a different bike. A possible reason for this is that the bike may be damaged, or it could be a NiceRide employee testing docking stations to ensure they work. We don't want to use this data in user-station interactions because it may cause inflated use cases. To be on a safer side of things we will remove all rides that are shorter than ~10 seconds.

In [25]:
for x in range(8) :
    print('201'+str(x))
    print(df_list[x]['duration'].count())

2010
101374
2011
217896
2012
274580
2013
308776
2014
413628
2015
483099
2016
431982
2017
459903

In [26]:
for x in range(8) :
    df_list[x] = df_list[x][df_list[x]['duration'] > 10]

In [27]:
for x in range(8) :
    print('201'+str(x))
    print(df_list[x]['duration'].count())

2010
99062
2011
216430
2012
273437
2013
307498
2014
411878
2015
483099
2016
431982
2017
459903

## Cleaning complete, save to file
As a side note: we won't take care of outliers just yet. The short rides, and long rides help to show use trends. When doing analysis for member and casual usage, outliers will be addressed then.

In [28]:
for x in range(8) :
    df_list[x].to_csv('~/Projects/NiceRide/Nice_Ride_data/201'+str(x)+'/NiceRide_trip_history_201'+str(x)+'.csv',\
                     index=False)