# Trip History data clean prototype

**Load dependencies and data set**

In [5]:
import numpy as np
import pandas as pd
import datetime

In [6]:
nr2010 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2010/Nice_Ride_trip_history_2010_season.csv').dropna()
nr2011 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2011/Nice_Ride_trip_history_2011_season.csv').dropna()
nr2012 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2012/Nice_Ride_trip_history_2012_season.csv').dropna()
nr2013 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2013/Nice_Ride_trip_history_2013_season.csv').dropna()
nr2014 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2014/Nice_Ride_trip_history_2014_season.csv').dropna()
nr2015 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2015/Nice_ride_trip_history_2015_season.csv').dropna()
nr2016 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2016/Nice_Ride_trip_history_2016_season.csv').dropna()
nr2017 = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2017/Nice_Ride_trip_history_2017_season.csv').dropna()
# 2010/Nice_Ride_trip_history_2010_season.csv
# 2011/Nice_Ride_trip_history_2011_season.csv
# 2012/Nice_Ride_trip_history_2012_season.csv
# 2013/Nice_Ride_trip_history_2013_season.csv
# 2014/Nice_Ride_trip_history_2014_season.csv *Gives dtype warning due to station name convention change*
# 2015/Nice_ride_trip_history_2015_season.csv *Same as above
# 2016/Nice_Ride_trip_history_2016_season.csv *Same as above
# 2017/Nice_Ride_trip_history_2017_season.csv *Same as above

#nr_old = nr = pd.read_csv('~/Projects/NiceRide/Nice_Ride_data/2010/Nice_Ride_trip_history_2010_season.csv').dropna()
# can't coerce "dtype = {'End terminal':np.int32, 'Total duration (ms)':np.int32}" due to NaN values

/home/grimoire/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

FileNotFoundError: File b'/home/grimoire/Projects/NiceRide/Nice_Ride_data/2016/Nice_Ride_trip_history_2016_season.csv' does not exist

**Check how data loaded, and row count**

In [4]:
nr2010.info()

NameError: name 'nr2010' is not defined

**Another method checking if Dataframe has any NaN and where they are located**

nr.isnull().sum()
A boolean variation :
nr_2010.isnull().any()

**NaN removal** _This was added into read_csv() to clear NA values on read in_

nr = nr.dropna()

nr.count()

nr.isnull().sum()

** Renaming terminal columns for legibility**

In [55]:
nr.head(3)

,Start date,Start station,Start terminal,End date,End station,End terminal,Total duration (ms),Account type
0,6/10/2010 8:01,100 Main Street SE,30000,6/10/2010 8:01,100 Main Street SE,30000.0,8018.0,Casual
1,6/10/2010 17:38,100 Main Street SE,30000,6/10/2010 17:54,IDS Center,30042.0,963762.0,Casual
2,6/10/2010 21:15,100 Main Street SE,30000,6/10/2010 21:27,11th Street & Hennepin,30004.0,717079.0,Casual

In [56]:
# .rename doesn't mutate original Dataframe unless it's assigned
nr = nr.rename(index=str, columns={"Start terminal": "Start station ID",
                                             "End terminal": "End station ID"})

In [ ]:
nr = nr.rename(index=str, columns={"Start station number": "Start station ID",
                                             "End station number": "End station ID"})

In [57]:
nr.head(3)

,Start date,Start station,Start station ID,End date,End station,End station ID,Total duration (ms),Account type
0,6/10/2010 8:01,100 Main Street SE,30000,6/10/2010 8:01,100 Main Street SE,30000.0,8018.0,Casual
1,6/10/2010 17:38,100 Main Street SE,30000,6/10/2010 17:54,IDS Center,30042.0,963762.0,Casual
2,6/10/2010 21:15,100 Main Street SE,30000,6/10/2010 21:27,11th Street & Hennepin,30004.0,717079.0,Casual

**Addressing dtype of End Terminal if necessary**

In [58]:
# can force dtype now that NaN have been removed
nr['End station ID'] = nr['End station ID'].astype(int)

In [59]:
nr.head(2)
# Everything looks good!

,Start date,Start station,Start station ID,End date,End station,End station ID,Total duration (ms),Account type
0,6/10/2010 8:01,100 Main Street SE,30000,6/10/2010 8:01,100 Main Street SE,30000,8018.0,Casual
1,6/10/2010 17:38,100 Main Street SE,30000,6/10/2010 17:54,IDS Center,30042,963762.0,Casual

**Changing Total duration to integer, seconds, and renaming**

In [60]:
nr['Total duration (seconds)'] = round(nr['Total duration (ms)'] * .001).astype(int)

In [61]:
nr.head(2)

,Start date,Start station,Start station ID,End date,End station,End station ID,Total duration (ms),Account type,Total duration (seconds)
0,6/10/2010 8:01,100 Main Street SE,30000,6/10/2010 8:01,100 Main Street SE,30000,8018.0,Casual,8
1,6/10/2010 17:38,100 Main Street SE,30000,6/10/2010 17:54,IDS Center,30042,963762.0,Casual,964

In [62]:
del nr['Total duration (ms)']
# Removal of old column

In [ ]:
nr['Total duration (seconds)'] = nr['Total duration (Seconds)']

In [ ]:
del nr['Total duration (Seconds)']

**Reordering of columns to match other Dataframes**

In [ ]:
reorder_columns = ['Start date', 'Start station', 'Start station ID', 'End date', 'End station', 
                   'End station ID', 'Account type', 'Total duration (seconds)']
nr = nr.reindex(columns=reorder_columns)
nr.head(3)

**Checking Account type column to ensure only 2 classifications**

In [63]:
nr['Account type'].value_counts()

Casual     52521
Member     48853
Unknown       52
Name: Account type, dtype: int64

**Removing unknown types if any**

In [64]:
nr = nr.loc[~(nr['Account type'] == 'Unknown')]
nr['Account type'].value_counts()

Casual    52521
Member    48853
Name: Account type, dtype: int64

In [ ]:
nr = nr.loc[~(nr['Account type'] == 'Inconnu')]
nr['Account type'].value_counts()

**Cleaning complete, (original data set as reference)**

In [65]:
nr.head(4)

,Start date,Start station,Start station ID,End date,End station,End station ID,Account type,Total duration (seconds)
0,6/10/2010 8:01,100 Main Street SE,30000,6/10/2010 8:01,100 Main Street SE,30000,Casual,8
1,6/10/2010 17:38,100 Main Street SE,30000,6/10/2010 17:54,IDS Center,30042,Casual,964
2,6/10/2010 21:15,100 Main Street SE,30000,6/10/2010 21:27,11th Street & Hennepin,30004,Casual,717
3,6/11/2010 13:52,100 Main Street SE,30000,6/11/2010 14:42,Washington & 2nd Ave N,30021,Casual,2966

In [66]:
nr_old.head(4)

,Start date,Start station,Start terminal,End date,End station,End terminal,Total duration (ms),Account type
0,6/10/2010 8:01,100 Main Street SE,30000,6/10/2010 8:01,100 Main Street SE,30000.0,8018.0,Casual
1,6/10/2010 17:38,100 Main Street SE,30000,6/10/2010 17:54,IDS Center,30042.0,963762.0,Casual
2,6/10/2010 21:15,100 Main Street SE,30000,6/10/2010 21:27,11th Street & Hennepin,30004.0,717079.0,Casual
3,6/11/2010 13:52,100 Main Street SE,30000,6/11/2010 14:42,Washington & 2nd Ave N,30021.0,2966016.0,Casual

In [67]:
# Save to file
nr.to_csv("~/Projects/NiceRide/Nice_Ride_data/2010/NiceRide_trip_history_2010.csv", index=False)